Segmenting and Clustering Neighborhoods in Toronto | Part-2

Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In an older version of this course, we were leveraging the Google Maps Geocoding API to get the latitude and the longitude coordinates of each neighborhood. However, recently Google started charging for their API: http://geoawesomeness.com/developers-up-in-arms-over-google-maps-api-insane-price-hike/, so we will use the Geocoder Python package instead: https://geocoder.readthedocs.io/index.html.

The problem with this Package is you have to be persistent sometimes in order to get the geographical coordinates of a given postal code. So you can make a call to get the latitude and longitude coordinates of a given postal code and the result would be None, and then make the call again and you would get the coordinates. So, in order to make sure that you get the coordinates for all of our neighborhoods, you can run a while loop for each postal code. 

Given that this package can be very unreliable, in case you are not able to get the geographical coordinates of the neighborhoods using the Geocoder package, here is a link to a csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

In [ ]:
import numpy as np
import pandas as pd
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim 
from bs4 import BeautifulSoup
import xml
print('Libraries imported.')

Add latitude and longitude of each neighborhood

In [ ]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.columns = ['Postcode', 'Latitude', 'Longitude']

Read the saved CSV file from part 1

In [ ]:
df_pcn=pd.read_csv('toronto.csv')

Merging the 2 dataframes

In [ ]:
df_pos = pd.merge(df_pcn, df_geo, on=['Postcode'], how='inner')
df_tor = df_pos[['Borough', 'Neighbourhood', 'Postcode', 'Latitude', 'Longitude']].copy()
df_tor

         Borough  ...  Longitude
0    Scarborough  ... -79.194353
1    Scarborough  ... -79.160497
2    Scarborough  ... -79.188711
3    Scarborough  ... -79.216917
4    Scarborough  ... -79.239476
..           ...  ...        ...
98          York  ... -79.518188
99     Etobicoke  ... -79.532242
100    Etobicoke  ... -79.554724
101    Etobicoke  ... -79.588437
102    Etobicoke  ... -79.594054

[103 rows x 5 columns]

In [7]:
df_tor.to_csv('toronto_2.csv',index=False)